<form>
    <h2 mat-dialog-title>{{title}}</h2>
    <div mat-dialog-content>
        <mat-input-container class="full-width">
            <input matInput type="text" placeholder="task name">
        </mat-input-container>
        <mat-radio-group>
            <mat-radio-button *ngFor="let priority of priorities"
            [value]="priority.value">{{priority.label}}
            </mat-radio-button>
        </mat-radio-group>
        <mat-input-container class="full-width">
            <input matInput [matDatepicker]="dueDatepicker" type="text" placeholder="deadline">
            <mat-datepicker-toggle matSuffix [for]="dueDatepicker"></mat-datepicker-toggle>
        <!--  <button type="button" matSuffix [mat-datepicker-toggle]="dueDatepicker"></button> -->
        </mat-input-container>
        <mat-datepicker #dueDatepicker></mat-datepicker>
        <mat-input-container class="full-width">
            <input matInput [matDatepicker]="reminderDatepicker" type="text" placeholder="reminder">
        <!--  <button type="button" matSuffix [mat-datepicker-toggle]="reminderDatepicker"></button> -->
            <mat-datepicker-toggle matSuffix [for]="reminderDatepicker"></mat-datepicker-toggle>
<!-- how to use mat-datepicker-toggle
          <input matInput [matDatepicker]="picker2" placeholder="Choose an end date" [(ngModel)]="inputEndDate">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2 [startAt]="endDate"></mat-datepicker> -->
        </mat-input-container>
        <mat-datepicker #reminderDatepicker></mat-datepicker>
    </div>
    <div mat-dialog-actions>
        <button type="button" mat-raised-button color="primary"
           (click)="onClick()">Save</button>
        <button type="button" mat-button mat-dialog-close>Close</button>
    </div>
</form>
