<form>
    <h3 mat-dialog-title>Invite members:</h3>
    <div mat-dialog-container>
        <mat-input-container class="full-width">
            <input matInput type="text" placeholder="name"
            [matAutocomplete]="autoMembers">
        </mat-input-container>
    </div>
    <div mat-dialog-actions>
        <button type="button" mat-raised-button color="primary"
           (click)="onClick()">Save</button>
        <button type="button" mat-dialog-close mat-button>Close</button>
    </div>
</form>
<mat-autocomplete #autoMembers="matAutocomplete" [displayWith]="displayUser">
    <!-- displayUser return function, not the result -->
    <mat-option *ngFor="let item of items" [value]="item">
        <!-- <mat-option *ngFor="let item of items" [value]="item.name">-->
        {{item.name}}
    </mat-option>
</mat-autocomplete>
