/* You can add global styles to this file, and also import other style files */
//@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
//customized theme
@import 'theme.scss';


html , body, app-root, mat-sidenav-container, .site {
    width: 100%;
    height: 100%;
    margin: 0;
}

.site {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; //set the header on the top. footer at the bottom
}

.fill-remaining-space {
    flex: 1 1 auto; //fill the space
}

/*animation*/
.square {
    width: 100px;
    height: 100px;
    background-color: black;
}
